#carousel-container{
    
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: purple;
    list-style: none    ;
}
.carousel-item{
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease,-webkit-transform .8s ease;
   

} 
#carousel-container img{
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 600px;
}
.loginbtn{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none; 
    font-size: larger;
}
.loginbtn:hover{
    text-decoration: underline;
    background-color: rgb(119, 23, 209);
}
