<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.3.2/jsencrypt.min.js"></script>
  <script type="text/javascript" src="validation.js" defer></script>
</head>
<body>
  <div class="wrapper">
    <h1>Signup</h1>
    <p id="error-message"></p>
    <form id="form">
      <div>
        <label for="firstname-input">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/></svg>
        </label>
        <input type="text" name="firstname" id="firstname-input" placeholder="Firstname">
      </div>
      <div>
        <label for="lastname-input">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/></svg>
        </label>
        <input type="text" name="lastname" id="lastname-input" placeholder="Lastname">
      </div>
      <div>
        <label for="email-input">
          <span>@</span>
        </label>
        <input type="email" name="email" id="email-input" placeholder="Email">
      </div>
      <div>
        <label for="password-input">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"/></svg>
        </label>
        <input type="password" name="password" id="password-input" placeholder="Password">
      </div>
      <div>
        <label for="repeat-password-input">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"/></svg>
        </label>
        <input type="password" name="repeat-password" id="repeat-password-input" placeholder="Repeat Password">
      </div>
      <button type="submit" onclick="formSubmit()">Signup</button>
	  <p style="padding:20px;">Already have an Account? <a href="login.html">login</a> </p>
    </form>
	<script>
    async function formSubmit() {
      console.log('form event submit');
      event.preventDefault();
      const firstname = document.getElementById('firstname-input').value;
      const lastname = document.getElementById('lastname-input').value;
      const email = document.getElementById('email-input').value;
      const password = document.getElementById('password-input').value;
			const repeatedpassword = document.getElementById('repeat-password-input').value;
      if (!firstname) {
        console.log("fname empty");
        document.getElementById('firstname-input').style.borderColor = "red";
      }
      if (!lastname) {
        console.log("lname empty")
        document.getElementById('lastname-input').style.borderColor = "red";
      }
      if (!email) {
        console.log("email empty")
        document.getElementById('email-input').style.borderColor = "red";
      }
      if (!password) {
        console.log("pass empty")
        document.getElementById('password-input').style.borderColor = "red";
      }
			if (!repeatedpassword) {
        console.log("rpass empty")
        document.getElementById('repeat-password-input').style.borderColor = "red";
      }
			if(!firstname || !lastname || !email || !password || !repeatedpassword){
				console.log("Invalid entries")
				return;
			}
			if (password !== repeatedpassword) {
				console.log("passwords do not match")
				document.getElementById('password-input').style.borderColor = "red";
				document.getElementById('repeat-password-input').style.borderColor = "red";
				return;
			}
      // Encrypt the password using the server's public key
      const encrypt = new JSEncrypt();
      fetch('/static/public_key.pem').then(response => response.text()).then(async key => {
        encrypt.setPublicKey(key);
        const encryptedPassword = encrypt.encrypt(password);
        // Create the payload
        const payload = {
          firstname: firstname,
          lastname:lastname,
          email: email,
          password: encryptedPassword
        };
      // Send the POST request
      const response = await fetch('/u/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      }).then(response => response.json())
        .then(data => {
          console.log(data);
            if (data.message === "Signup request was successful!") {
              window.location.href = "/success";
            }
        }).catch(error => console.error("Error:", error));
      }).catch(error => console.error('Error fetching the key:', error));
    }
    </script>
  </div>
</body>
</html>